/* Quiz styles */

$background-color: lightblue;
$secondary-color: #58a0e0;
$base-font: "Helvetica", san-serif;
$margin-left: 5px;
$padding: 5px 5px 5px 5px;

header {
    background-color: $background-color;
    border: 2px solid #064277;
    border-radius: 20px;
    margin:  $margin-left;
    padding: $padding;
    text-align: center;
}



body {
    
    width: 600px;
    margin: $margin-left;
    font-style:oblique;
    background-color: #dadadb

    p{
        
            font: {
                family: Helvetica;
                size: 1.2em;
                weight: bold;

            }
        }
    }


h1 {
    color:#58a0e0;
}

#content {
    background-color: $background-color;
    border: 2px solid #064277;
    border-radius: 20px;
    margin:  $margin-left;
    padding: $padding;
    
}

#list{
    border: 2px solid #064277;
    border-radius: 20px;
    background-color: $background-color;
}

h2 {
    color: #064277;
}

h3 
{
    background-color: $secondary-color;
    ul{
        margin: $margin-left;
        
    }
}



.samplepara {
    border: 3px solid #58a0e0;
    border-radius: 5px;
    padding: $padding;
    background-color: white;
}

footer {
    border: 2px solid #064277;
    border-radius: 20px;
    margin: $margin-left;
    padding: $padding;
    background-color: $background-color;
}

#footer {
    font-size: .75em;
    font-style:italic;
    font-weight: bold;
    color: #064277;
    text-align: center;
}


